@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'JetBrains Mono';
  src: url('/Jetbrains.ttf') format('ttf')
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html {
  scroll-behavior: smooth;
  background: #000;
  font-family: 'JetBrains Mono', monospace;
}

.anaglyphText:hover {
  text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
}
.anaglyphCard {
  transition: all 0.2s ease-in-out;
}
.anaglyphCard:hover {
  transform: scale(1.07);
  z-index: 10;

  box-shadow: -10px 0 50px rgb(30, 242, 241), 10px 0 15px rgb(246, 5, 10);
}

.image-container::after {
  content: "" !important;
  position: absolute;
  inset: 0; 
  background-image: linear-gradient(
    to bottom,
    from-transparent,
    to-black
  );
  height: h-1/6;
}